APP_NAME=NewsDigest
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Asia/Singapore

NEWSDIGEST_SECRET=talkonly_bot_316188b2f4604ff7f3b0c59535a7c0ed361c933a

TALKONLY_BOT_NAME=NewsDigest
TALKONLY_BOT_SECRET=talkonly_bot_316188b2f4604ff7f3b0c59535a7c0ed361c933a
TALKONLY_POLL_INTERVAL=3
TALKONLY_LONG_POLL_TIMEOUT=20

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=newsdigest
MYSQL_USERNAME=dev
MYSQL_PASSWORD=6s40UNEEyziL5CHWj71m

MYSQL_ROOT_USERNAME=root
MYSQL_ROOT_PASSWORD=tnNLPpb74KaJxIfyJreu

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=rD9crwXi88GuQEMsIB7w
REDIS_DB=0

OLLAMA_BASE_URL=http://127.0.0.1:11434/api
OLLAMA_MODEL=qwen2.5:7b
OLLAMA_TIMEOUT=180

DEFAULT_USER_TIMEZONE=Asia/Singapore
DEFAULT_DIGEST_MAX_ITEMS=8
DEFAULT_DIGEST_MIN_SUMMARY_LENGTH=120
DEFAULT_DIGEST_MAX_SUMMARY_LENGTH=180

# 搜索 Provider: google_news / bing_news / fake
SEARCH_PROVIDER=google_news

LOG_LEVEL=INFO
LOG_DIR=storage/logs
